#head{
    color: cadetblue;
}
#ch{
    color:rgb(233, 94, 94);
    background-color: rgb(241, 208, 24);
}
#th{
    color: rgb(32, 243, 32);
    background-color: aqua;
}
#ah{
    color: lime;
    background-color: yellowgreen;
}
body{
    height: 60px;
   background-image: linear-gradient(red,green);
}
#cht{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:19px;
    background-color: rgb(202, 8, 8);
}
#aht{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    background-color: limegreen;
}
#tht{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    background-color: darkgreen;
}